/* Colors */

:root {
    --clr-bck-white: #fff;
    --clr-light-blk: #191919;
    --clr-shad-blk: #78727f;
}

/* Body */

body {
    display: flex;
    flex-direction: column;
}

/* Navigation */

.head {
    background-color: var(--clr-bck-white);
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.head__logo {
    width: 64px;
    height: 64px;
}

.top-nav__list {
    list-style-type: none;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.top-nav__list > li > a {
    font-family: Inter, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: var(--clr-light-blk);
}

.head__btn {
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: var(--clr-bck-white);
    background-color: var(--clr-light-blk);
    border-radius: 8px;
    padding: 10px 24px;
}

/* Landing Page Container */

.intro {
    background: rgb(147, 161, 193);
    background: linear-gradient(
        180deg,
        rgba(147, 161, 193, 1) 9%,
        rgba(224, 190, 227, 1) 89%
    );
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Top Part (text + buttons) */

.intro > .intro__btn-holder > button {
    font-family: "Playfair Display", sans-serif;
    padding: 5px 15px;
    border-radius: 8px;
    border: none;
}

.intro__btn-holder {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.intro__btn-1 {
    background-color: var(--clr-light-blk);
    color: var(--clr-bck-white);
}

.intro__btn-2 {
    background-color: var(--clr-bck-white);
    color: var(--clr-light-blk);
}

.intro > h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 42px;
    font-weight: bold;
    text-align: center;

    flex: 0 0 60%;
}

.intro > p {
    font-family: Inter, sans-serif;
    text-align: center;
}

.intro__slogan-1 {
    font-size: 16px;
    padding-top: 10px;

    flex: 0 0 45%;
}

/* Image Mid Part */

.intro__demo {
    background-color: var(--clr-bck-white);
    border-radius: 8px;

    height: 50%;
    width: 30%;

    display: flex;
    flex: 0 0 60%;
    justify-content: space-between;
}

.intro__demo > img {
    border-radius: 8px;
}

/* Bottom Part */

.intro__partners {
    height: 2vh;
    padding-bottom: 40px;

    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.intro__slogan-2 {
    color: var(--clr-shad-blk);
    font-style: italic;
    font-size: 12px;
    padding-top: 5vh;

    flex: 0 0 100%;
}

.intro__partners > img {
    width: 70px;
    opacity: 0.5;
}
